/* Main Modal Container Override */
.modal-container.simple-text-capture-modal-container .modal {
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    max-width: 800px;
    max-height: 42px;
}

/* Remove default header/close button if any */
.modal-container.simple-text-capture-modal-container .modal-close-button {
    display: none;
}

.simple-text-capture-modal-content {
    background-color: #1a1a1a;
    /* Dark background */
    border: 2px solid #ffffff;
    /* White border */
    border-radius: 20px;
    /* Rounded corners */
    padding: 10px 20px;
    width: 100%;
    margin: 0 auto;
}

.simple-text-capture-modal-content textarea {
    background-color: transparent;
    border: none;
    color: #ffffff;
    width: 100%;

    font-family: var(--font-monospace);
    font-size: 14pt;
    outline: none;
    resize: none;

    display: flex;
    align-items: center;
    padding: 14px 0px 0px 0px;
    /* 上下に20px、左右に10pxの余白 */
    line-height: 0.6;
    /* 行間を整えるとより綺麗に見えます */
    height: auto;
    /* 内容に合わせて調整 */
}

/* Remove scrollbars */
.simple-text-capture-modal-content textarea::-webkit-scrollbar {
    display: none;
}