/* Main Modal Container Override */
.modal-container.simple-text-capture-modal-container .modal {
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    max-width: 800px;
    max-height: 42px;
}

/* Remove default header/close button if any */
.modal-container.simple-text-capture-modal-container .modal-close-button {
    display: none;
}

.simple-text-capture-modal-content {
    background-color: #1a1a1a;
    /* Dark background */
    border: 2px solid #ffffff;
    /* White border */
    border-radius: 20px;
    /* Rounded corners */
    padding: 10px 20px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    align-items: flex-end;
}

.simple-text-capture-modal-content textarea {
    background-color: transparent;
    border: none;
    color: #ffffff;
    width: 100%;
    height: auto;

    font-family: var(--font-monospace);
    font-size: 14pt;
    line-height: 1.0;
    padding: 0;
    outline: none;

    resize: none;
}

/* Remove scrollbars */
.simple-text-capture-modal-content textarea::-webkit-scrollbar {
    display: none;
}